<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table {
        font-family: verdana, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    h2 {
        font-family: verdana, sans-serif;
        font-weight: bold;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
{{ range .Tables }}
    <h2> {{ .Title }} </h2>
<table>
    <tr>
        {{ range .Headers }}
        <th> {{ . }} </th>
        {{ end }}
    </tr>
    {{ range .Rows }}
        <tr>
            {{ range .Data }}
            <td> {{ . }} </td>
            {{ end }}
        </tr>
    {{ end}}
</table>
{{ end }}
</body>
</html>
